.quiz {
  cursor: pointer;
  background: lightblue;
  box-shadow: 0 0 1px 2px gray;

  h3 { text-align: center; }
}

.question {
  overflow: hidden;
  margin-bottom: 1rem;
  &.has-image {
    .answers,
    .image { float: left; width: 50% }

    .image img { width: 100%; }

    .answers {
      padding-left: 1rem;
    }

    .answers label {
      display: block;
      margin-bottom: 1rem;
    }
  }
}