$border-color: #999999;
$title-color: #3F3F3F;

.top-element {
    border: 1px solid $border-color;
    margin: 1rem;

    .title {
        color: $title-color;
        font-size: 2rem;
        font-weight: bold;

        span {
            border-bottom: 1px solid $border-color;
            color: darken($title-color, 10%);
            font-size: 1rem;
            font-weight: normal;
        }
    }
}