.top-element {
  border: 1px solid #999999;
  margin: 1rem; }
  .top-element .title {
    color: #3F3F3F;
    font-size: 2rem;
    font-weight: bold; }
    .top-element .title span {
      border-bottom: 1px solid #999999;
      color: #262525;
      font-size: 1rem;
      font-weight: normal; }
